* {
    border:        none;
    border-radius: 0;
    font-family:   Sans;
    font-size:     17px;
    box-shadow:    none;
    text-shadow:   none;
    transition-duration: 0s;
}

window {
    color:      rgba(245, 246, 247, 1);
    background: rgba(40, 40, 40, 1);
}

window#waybar.solo {
    color:      rgba(245, 246, 247, 1);
    background: rgb(40, 40, 40);
}

#workspaces {
    margin:     5px 0px 5px 15px;
    padding: 	0px 4px;
    min-width:  0px;
    min-height: 0px;
    background: rgb(20,20,20);
    border: none;
    border-radius: 5;
    opacity: 0.9;
}

#workspaces button {
    padding:    0 5px;
    color:      rgba(217, 216, 216, 0.4);
}

#workspaces button.visible {
    color:      rgba(217, 216, 216, 1);
}

#workspaces button.focused {
    border-top: 3px solid rgba(217, 216, 216, 1);
    border-bottom: 3px solid rgba(217, 216, 216, 0);
}

#workspaces button.urgent {
    color:      rgba(238, 46, 36, 1);
}



#clock {
    margin:     5px 16px 5px 5px;
    padding: 	0px 5px;
    min-width:  0px;
    min-height: 0px;
    background: rgb(20,20,20);
    border: none;
    border-radius: 5;
    opacity: 0.9;
}

#battery, #pulseaudio, #network, #backlight, #language, #custom-weather, #temperature, #custom-spotify, #custom-power, #cpu, #memory, #window{
    margin:     5px 0px 5px 5px;
    padding: 	0px 5px;
    min-width:  0px;
    min-height: 0px;
    background: rgb(20,20,20);
    border: none;
    border-radius: 5;
    opacity: 0.9;

}


#tray{
    margin:     0px 16px 0px 10px;
    min-width:  20px;
}

#battery.warning {
    color:       rgba(255, 210, 4, 1);
}

#battery.critical {
    color:      rgba(238, 46, 36, 1);
}

#battery.charging {
    color:      rgba(217, 216, 216, 1);
}

#custom-storage.warning {
    color:      rgba(255, 210, 4, 1);
}

#custom-storage.critical {
    color:      rgba(238, 46, 36, 1);
}

